.background-image {
  position: fixed;
  inset: 0;
  z-index: -1;

  width: 100vw;
  height: 100vh;

  object-fit: cover;

  filter: brightness(0.7);
}

.background-image-credit {
  position: fixed;
  bottom: var(--space-2xs);
  left: var(--space-2xs);
}

.background-navigation-button {
  --flip-x: 1; /* Default: no flip */
  --scale: 1; /* Default: no scale */

  position: fixed;
  top: 50%;
  z-index: 10;

  padding: 0;
  margin: 0;

  font-size: var(--font-size-4);

  color: rgb(255 255 255 / 60%);

  cursor: pointer;

  background: transparent;
  border: none;

  transform: translateY(-50%) scaleX(var(--flip-x)) scale(var(--scale));

  transition:
    color 0.3s ease,
    transform 0.3s ease,
    filter 0.3s ease;
}

.background-navigation-button:hover {
  --scale: 1.1;

  color: white;

  filter: drop-shadow(0 0 12px rgb(255 255 255 / 80%));
}

.background-navigation-button-back {
  left: var(--space-2xs);
}

.background-navigation-button-forward {
  --flip-x: -1; /* Flip this button */

  right: var(--space-2xs);
}
