.button {
  display: flex;

  align-items: center;
  justify-content: center;

  padding: var(--space-3xs);

  font-size: var(--font-size-1);
  font-weight: 500;

  cursor: pointer;

  border: var(--button-border-primary);
  border-radius: 15px;

  /* Default transition for smooth hover effects */
  transition: all 0.2s ease-in-out;
}

.button:hover {
  filter: drop-shadow(0 0 12px rgb(255 255 255 / 80%));
}

/* Variant Styles */
.primary {
  color: var(--button-text-color-primary);

  background-color: var(--button-color-primary);
}

.secondary {
  color: var(--button-text-color-secondary);

  background-color: var(--button-color-secondary);
}

.destructive {
  color: var(--button-text-color-destructive);

  background-color: var(--button-color-destructive);
}
