.quote {
  display: flex;

  flex-direction: column;

  gap: var(--space-3xs);
  align-items: center;
  align-self: center;
  justify-content: flex-end;

  width: min(95vw, 800px);
  height: 15vh;

  padding: var(--space-3xs) var(--space-s);
  margin: 0 auto;
}

.quote-text {
  display: flex;

  flex: 1;

  align-items: center;

  overflow: auto;
}

.quote-author-and-button-container {
  display: grid;

  grid-template-columns: auto auto auto;

  align-items: center;

  width: 100%;

  padding: 0 var(--space-l);
}

.quote-update-button {
  grid-row: 1;
  grid-column: 3;

  justify-self: end;

  width: fit-content;

  font-size: inherit;
}

.quote-author {
  grid-row: 1;
  grid-column: 2;

  justify-self: center;

  font-weight: bold;
}
