.quote {
  display: flex;

  flex-direction: column;

  gap: 0.25rem;
  align-items: center;
  justify-content: center;

  max-width: 80vw;

  padding: 0.5rem 0.75rem;
  margin: auto;

  font-size: 0.75rem;

  background-color: var(--container-color-primary);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 25px;

  backdrop-filter: blur(8px);
}

.quote-author-and-button-container {
  display: grid;

  grid-template-columns: auto auto auto;

  align-items: center;

  width: 100%;
}

.quote-update-button {
  grid-row: 1;
  grid-column: 3;

  justify-self: end;

  width: fit-content;

  padding: 0.15rem 0.3rem;

  font-size: inherit;

  color: white;

  cursor: pointer;

  background-color: var(--button-color-primary);
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 15px;
}

.quote-update-button:hover {
  color: black;

  filter: drop-shadow(0 0 12px rgb(255 255 255 / 80%));
}

.quote-author {
  grid-row: 1;
  grid-column: 2;

  justify-self: center;

  font-weight: bold;
}
