.quote {
  display: flex;

  flex-direction: column;

  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  justify-self: baseline;

  max-width: 80vw;

  padding: 0.5rem 0.75rem;
  margin: 1rem auto;

  font-size: 0.75rem;

  background-color: var(--container-color-primary);
  border: var(--border-default);
  border-radius: 25px;

  backdrop-filter: blur(8px);
}

.quote-author-and-button-container {
  display: grid;

  grid-template-columns: auto auto auto;

  align-items: center;

  width: 100%;
}

.quote-update-button {
  grid-row: 1;
  grid-column: 3;

  justify-self: end;

  width: fit-content;

  font-size: inherit;
}

.quote-author {
  grid-row: 1;
  grid-column: 2;

  justify-self: center;

  font-weight: bold;
}
