.loading-overlay {
  position: absolute;
  inset: 0;
  z-index: 999;

  border-radius: inherit;

  backdrop-filter: blur(4px);
}

.loading-overlay.container-loader {
  backdrop-filter: blur(4px) brightness(75%);
}

.loading-indicator {
  --loading-indicator-size: 5rem;
  --loading-indicator-border-width: 8px;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;

  width: var(--loading-indicator-size);
  height: var(--loading-indicator-size);

  border: var(--loading-indicator-border-width) solid
    var(--loading-indicator-color-secondary);
  border-top-color: var(--loading-indicator-color-primary);
  border-radius: 50%;

  transform: translate(-50%, -50%);

  animation: 1s cubic-bezier(0.4, 0, 0.2, 1) infinite loading;
}

.loading-indicator.small {
  --loading-indicator-size: 2.5rem;
  --loading-indicator-border-width: 4px;
}

.loading-indicator.large {
  --loading-indicator-size: 8rem;
  --loading-indicator-border-width: 12px;
}

@keyframes loading {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
