.refresh-button {
  display: flex;

  align-items: center;
  justify-content: center;

  padding: 0.15rem 0.3rem;

  color: var(--button-text-color-primary);

  cursor: pointer;

  background-color: var(--button-color-primary);
  border: var(--button-border-primary);
  border-radius: 15px;
}

.refresh-button:hover {
  color: var(--text-color-default);

  filter: drop-shadow(0 0 12px rgb(255 255 255 / 80%));
}
