.weather-container {
  display: flex;

  align-items: center;
  align-self: flex-end;
  justify-content: center;

  padding: var(--space-2xs);

  font-size: var(--font-size-0);
}

.weather-info-container {
  display: flex;

  flex-direction: column;

  gap: var(--space-3xs);
}

.weather-error-container {
  display: flex;

  flex-direction: column;
}

.weather-error-refresh-button {
  align-self: center;

  width: fit-content;

  font-size: inherit;
}
